<li id="post-<% post.id %>">

  <div>
    <div class="poster">
      <div class="userimage">
        <%= gravatar_for @post.user, size: 30 %>
      </div>
      <div>
        <%= @post.user.name %>
      </div>
    </div>
    <div>
      <%= link_to "/posts/#{post.id}" do %>
      <%= image_tag "#{post.picture}", :class => "img-fluid mx-auto d-block" if post.picture? %>
      <% end %>
    </div>
    <div class="actionicons icons_part">
      <ul>
        <span><li><a href="#"><i class="far fa-heart fa-2x my-gray"></i></a></li></span>
        <span><li><a href="#"><i class="far fa-comment fa-2x my-gray"></i></a></li></span>
        <span><li><a href="#"><i class="far fa-paper-plane fa-2x my-gray"></i></a></li></span>
        <span>
        <li>
        <% if @post.already_favorited?(current_user) %>
        <!--<%# if current_user.already_favorited?(@post) %> -->
          <!-- #お気に入りされているときのアイコン表示 -->
          <%= link_to("/favorites/#{Favorite.find_by(post_id: @post.id,user_id: current_user.id).id}",post_id: @post.id, method: :delete) do %>
            <i class="fas fa-bookmark fa-2x my-gray"></i>
          <% end %>
        <% else %>
          <!-- #お気に入りされていないときのアイコン表示 -->
          <%= link_to(favorites_path(params:{post_id: @post.id}), method: :post) do %>
            <i class="far fa-bookmark fa-2x my-gray"></i>
　　      <% end %>
        <% end %>
　　    </li>
        </span>
      </ul>
    </div>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
    <div>
    コメントフィード
    </div>
    <div class="newcomment">
      <%= form_for(@newcomment) do |f| %>
        <%= hidden_field_tag :user_id, @newcomment.user_id %>
        <%= hidden_field_tag :post_id, @newcomment.post_id %>
        <%= f.text_area :comment, class: 'form-control commentarea', :placeholder => "コメントを追加...", :size => "1x1"%>
        <%= f.submit "投稿する", class: "btn btn-primary submitbutton" %>
      <% end %>
    </div>
  </div>
</li>
<br>