<% provide(:title, "Edit user") %>
<% provide(:button_text, '投稿する') %>
<h1>写真を投稿</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <p>ここに写真投稿用のフォームを作成する</p>
    <%= form_for(@post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_area :comment, placeholder: "キャプションを入力..." %>
      </div>
      
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/png'%>
      </span>
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
    <!--<#%= render 'profileform' %> -->
    <!--
    <div class="gravatar_edit">
      <#%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change avator image from here</a>
    </div>
    -->

  </div>
</div>