<div class="row loginform" >
  <h1 class="NXVPg Szr5J  coreSpriteLoggedOutWordmark">InstaClone</h1>
  <div class="col-md-12 col-md-offset-3 loginformfor">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.text_field :username, class: 'form-control', :placeholder => "ユーザーネーム"%>
      <br>
      <%= f.password_field :password, class: 'form-control', :placeholder => "パスワード"%>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary loginbtn" %>
    <% end %>
    
    <hr size="20">
    <div>または</div>

    <div class="facebooklogin">
      <%= link_to "Facebookでログイン", "/auth/facebook" %>
      
    </div>
    <br>
    <p>アカウントをお持ちでないですか？<%= link_to "登録する", signup_path %></p>
  </div>
</div>

  